---
import '@repo/styles/globals.css'

import Layout from '@layouts/Layout.astro';

import { PatronsListPage } from "@/components/react/pages/patrons-list";

const metaTitle = "Angus Bezzina | Honour Role";
const title = "The Honour Role 🫡";
const description = "Special thanks to the people below for their support. Be warned, here lie legends!"
---

<Layout title={metaTitle}>
	<main class="w-full h-full min-h-screen">
		<PatronsListPage title={title} description={description} client:only />
	</main>
</Layout>
