---
import '@repo/styles/globals.css'

import Layout from '@layouts/Layout.astro';

import { BuyMeACoffeePage } from "@/components/react/pages/buy-me-a-coffee";

const metaTitle = "Angus Bezzina | Buy me a coffee";
const title = "Show some love!";
---

<Layout title={metaTitle}>
	<main class="w-full h-full flex flex-col min-h-screen items-center justify-center">
		<BuyMeACoffeePage title={title} client:only />
	</main>
</Layout>
