---
import '@repo/styles/globals.css'

import Layout from '@layouts/Layout.astro';

import { BuyMeACoffeeForm } from "@react/buy-me-a-coffee-form";
import { Page } from "@react/page";

const title = "Buy me a coffee!";
---

<Layout title={title}>
	<main class="w-full h-full flex flex-col min-h-screen items-center justify-center">
		<Page>
			<h1>{title}</h1>
			<BuyMeACoffeeForm client:load />
		</Page>
	</main>
</Layout>
