---
import '@/styles/globals.css'

import { Button } from "@repo/ui/button.tsx"

import Layout from '@layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Button>Hello World</Button>
	</main>
</Layout>

<!-- NOTE: You can add any additional styles here wrapped in a <style /> tag -->
