---
import '@repo/styles/globals.css'

import Layout from '@layouts/Layout.astro';

import { WithdrawalPage } from '@/components/react/pages/withdrawal';

const metaTitle = "Angus Bezzina | Withdraw";
const title = "Time to break the bank!";
---

<Layout title={metaTitle}>
	<main class="w-full h-full min-h-screen">
		<WithdrawalPage title={title} client:only />
	</main>
</Layout>